.vedio-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 20px;
        row-gap: 20px;
       }
        
        
        .image{
            width: 100%;
        }
       
       
       
       .channel-pic{
        width: 40px;
        border-radius: 40px;
       }
       .vedio-info{
        padding-left: 0;
        
       }
       .vediotitle{
        margin-top: 0;
        font-weight: 600;
        font-family: Roboto, Arial;
        margin-bottom: 14px;
       }
       
       .channel-name,.vedio-stats{

        color: grey;
        
       }
       .vedio-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
       }
       @media (max-width:750px) {
            .vedio-grid{
                grid-template-columns: 1fr 1fr;
            }
       }
       @media (min-width:1000px) {
            .vedio-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr ;
            }
       }


       .vedio-div{
        position: relative;
       }
       .vedio-time{
        background-color: black;
        color: white;
        font-family: Roboto ,Arial, Helvetica, sans-serif;
        position: absolute;
        right: 5px;
        bottom: 10px;
        border-radius: 5px;
        font-size: 14px;
        padding: 3px;
       }